{% extends "core/base.html" %}

{% block content %}
<h3>Sessions</h3>
<table>
<tr>
	<th>username</th>
	<th>source</th>
	<th>vpn ip</th>
	<th>rx</th>
	<th>tx</th>
	<th>since</th>
	<th>since (time_t)</th>
</tr>
{% for line in users %}
<tr>
	<td>{{ line.0 }}</td>
	<td>{{ line.1 }}</td>
	<td>{{ line.2 }}</td>
	<td>{{ line.3|filesizeformat }}</td>
	<td>{{ line.4|filesizeformat }}</td>
	<td>{{ line.5 }}</td>
	<td>{{ line.6 }}</td>
	<td>kill</td>
	<td>ban</td>
</tr>
{% empty %}
<tr>
	<td colspan="">no connected users</td>
</tr>
{% endfor %}
</table>

<h3>Connections</h3>
<table>
<tr>
	<th>user</th>
	<th>vpn ip</th>
	<th>start</th>
	<th>connected for</th>
	<th>tx</th>
	<th>rx</th>
	<th>total <small>(all time)</small></th>
	<th>quota</th>
</tr>
{% for line in sessions %}
<tr>
	<td>{{line.user.username}}</td>
	<td>{{line.vpn_ip}}</td>
	<td>{{line.time_start|date:"d.m.Y H:i:s"}}</td>
	<td>{{line.time_start|timesince}}</td>
	<td>{{line.traffic_sent|filesizeformat}}</td>
	<td>{{line.traffic_recv|filesizeformat}}</td>
	<td>{{line.user.get_profile.used_traffic|filesizeformat}}</td>
	<td>{{line.user.get_profile.max_traffic|filesizeformat}}</td>
</tr>
{% empty %}
<tr>
	<td colspan="">no connected users</td>
</tr>
{% endfor %}
</table>

<h3>Users</h3>
<table>
<tr>
	<th>user</th>
	<th>banned</th>
	<th>total</th>
	<th>quota</th>
</tr>
{% for u in userlist %}
<tr>
	<td>{{ u.username }}</td>
	<td>{{ u.get_profile.banned }}</td>
	<td>{{ u.get_profile.used_traffic|filesizeformat }}</td>
	<td>{{ u.get_profile.max_traffic|filesizeformat }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
